.header {
  display: flex;
  align-items: center;
  height: 293px;
  padding: 0 50px;
  width: 100%;
}

.header_menu {
  margin-right: 38px;
}

.header_l-l {
  display: flex;
  list-style-position: inside;
}

.header_l-l-item_no-bullit {
  list-style: none;
}

.header_link_go {
  padding-right: 10px;
  text-decoration: none;
}

.header_l-l-item {
  list-style-type: circle;
  padding: 0 10px;
  text-wrap: nowrap;
}

.header_logo-box {
  margin-right: 185px;
}

.header_logo-image {
  height: 105px;
  width: 150px;
}

.header_adress {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-style: normal;
  height: 98px;
  width: 240px;
}

.text-l {
  text-underline-offset: 5px;
}


.content {
  height: 2555px;
  width: 1100px;
}

.cover {
  background-image: url("/images/cover.jpg");
  background-repeat: no-repeat;
  background-size: 1100px 757px;
  height: 757px;
  position: relative;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  left: 0;
  padding: 0 50px;
  position: absolute;
  top: 0;
  width: 100%;
}

.cover_title {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 100px;
  text-transform: uppercase;
  font-weight: 700;
  gap: 20px;
  padding: 165px 0 106px 0;
}

.line-t {
  text-align: start;
}

.line-t_center {
  text-align: center;
}

.line-t_right {
  text-align: end;
}

.cover_specif {
  align-items: center;
  color: white;
  display: flex;
  font-size: 22px;
  text-transform: uppercase;
  gap: 107px;
  line-height: 28px;
  padding-bottom: -50px;
}

.long_line_down {
  letter-spacing: 0;
}

.cover_specif-t {
  letter-spacing: 0.9rem;
}

.money-button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-weight: 500;
  padding: 12px 32px 20px 35px;
  margin: 0 30px;
  text-align: center;
  text-transform: uppercase;
}

.money-button:hover {
  border: 2px solid black;
  cursor: pointer;
}


.lots {
  padding: 180px 24px 120px;
}

.lots_heading {
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 27px;
  padding-left: 40px;
  text-transform: uppercase;
}

.lots_card-l {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.lots_card-l-item {
  list-style: none;
}

.card-link {
  position: relative;
  text-decoration: none;
}

.card {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 596px;
  padding: 48px 40px;
  width: 334px;
  z-index: 2;
}

.card_withFilm-1 {
  background-image: url("/images/card-lot-01.jpg");
  display: flex;
  flex-direction: column;
  gap: 274px;
}

.card_withBook-2 {
  background-image: url("/images/card-lot-02.jpg");
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.card_withImage-3 {
  background-image: url("/images/card-lot-03.jpg");
  display: flex;
  flex-direction: column;
  gap: 126px;
}

.card_desk {
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
  text-transform: uppercase;
  z-index: 1;
}

.card_t {
  z-index: 1;
  font-size: 20px;
}

.lots_linkLookMore {
  display: block;
  font-size: 20px;
  padding-left: 40px;
  padding-top: 30px;
}

.about {
  align-items: start;
  display: grid;
  gap: 80px;
  grid-template-columns: 240px 1fr;
  height: 595px;
  padding: 40px 60px 0 60px;
  width: 1052px;
}


.about_logotip {
  background-color: #000;
  border-radius: 50%;
  height: 240px;
  position: relative;
  width: 240px;
}

.about_image {
  position: absolute;
  height: 115px;
  left: 45px;
  top: 65px;
  width: 145px;
  margin: 0 auto;

}

.about_colum {
  height: 449px;
  padding-top: 100px;
  width: 693px;
}

.about_title {
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 100px;
  text-transform: uppercase;
}

.about_t {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  gap: 24px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 50px 85px 50px;
}


.footer_menu-l {
  display: flex;
  justify-content: center;
}

.footer_menu-link_go {
  text-decoration: none;
}

.footer_image-l {
  display: flex;
  gap: 48px;
}

.footer_image-link {
  list-style: none;
}

.footer_pic {
  height: 48px;
  width: 48px;
}
