.header {
    max-width: 1100px;
    margin: 0 auto;
    background: #fff;
}

.main-header {
    padding: 92px 50px;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-section {
    flex-shrink: 0;
}

.header_l-l {
    display: flex;
    list-style: none;
    gap: 32px;
    margin: 0;
    padding: 0;
}

.header_l-l-item_no-bullit {
    list-style: none;
}

.header_l-l-item {
    list-style: circle;
}

.header_l-l-item,
.header_l-l-item_no-bullit {
    font-size: 18px;
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid transparent;
}


.logo-section {
    margin: 0 96px;
}

.brand-logo img {
    width: 148px;
    height: 105px;
}

.contact-section {
    flex-shrink: 0;
    font-size: 18px;
    font-style: normal;
    line-height: 1.35;
    text-align: right;
}

.contacts {
    display: block;
    text-underline-offset: 4px;
    color: #000;
    text-decoration: none;
}

.location {
    margin: 0;
}


.main-banner {
    background-image: url("/images/cover.jpg");
    background-size: cover;
    background-position: center;
    height: 757px;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 165px 50px 50px;
    box-sizing: border-box;
}

.banner-heading {
    color: #FFF;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 30px;
    text-transform: uppercase;
    line-height: 1.15;
    margin: 0;
}

.heading-part {
    display: block;
}

.part-left {
    text-align: left;
}

.part-center {
    text-align: center;
    margin: 20px 0;
}

.part-right {
    text-align: right;
}

.banner-action {
    display: flex;
    justify-content: space-between;
    align-items: end;
    color: #FFF;
    font-size: 22px;
    text-transform: uppercase;
    line-height: 28px;
}

.banner-subtitle {
    word-spacing: 18px;
}

.money-btn {
    background: transparent;
    border: 1px solid #FFF;
    color: #FFF;
    padding: 12px 32px;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    min-width: 257px;
}


.items-section {
    padding: 180px 50px;
}

.section-inner {
    max-width: 1100px;
    margin: 0 auto;
}

.section-header {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 27px 40px;
}

.items-container {
    display: flex;
    gap: 25px;
    margin-bottom: 30px;
}

.item-card {
    list-style: none;
    flex: 1;
    min-height: 450px;
}

.item-link {
    text-decoration: none;
    color: inherit;
    display: block;
    height: 100%;
}

.card-content {
    position: relative;
    height: 100%;
    min-height: 450px;
    color: white;
    background-size: cover;
    background-position: center;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.card-info {
    position: relative;
    z-index: 2;
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} 

.film-card {
    background-image: url("/images/card-lot-01.jpg");
}

.book-card {
    background-image: url("/images/card-lot-02.jpg");
}

.art-card {
    background-image: url("/images/card-lot-03.jpg");
}

.item-title {
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
    text-transform: uppercase;
    margin: 0 0 26px 0;
    line-height: 1.2;
}

.item-description {
    font-size: 20px;
    line-height: 1.2;
    margin: 0;
}

.more-items {
    margin-left: 40px;
}

.view-more {
    font-size: 20px;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #000;
}


.about {
    display: grid;
    grid-template-columns: 240px 1fr;
    gap: 25px;
    padding: 180px 50px;
    max-width: 1100px;
    margin: 0 auto;
}

.about_logotip {
    background-color: #000;
    border-radius: 50%;
    width: 240px;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about_image {
    width: 148px;
    height: 114px;
}

.about_colum {
    padding-top: 100px;
}

.about_title {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 100px 0;
}

.about_t {
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 20px;
    line-height: 1.2;
}


.footer {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 180px 50px 90px;
    max-width: 1100px;
    margin: 0 auto;
}

.footer-contacts {
    font-size: 18px;
    line-height: 1.35;
    text-align: left;
}

.adress_item {
    display: block;
    color: #000;
    text-decoration: none;
}

.adress_item:hover {
    text-decoration: underline;
}

.adress_adress-text {
    margin: 0;
}

.footer_menu {
    text-align: center;
}

.footer_menu-l {
  display: flex;
  justify-content: center;
}

.footer_menu-link_go {
  text-decoration: none;
}

.footer_image-l {
  display: flex;
  gap: 48px;
}

.footer_image-link {
  list-style: none;
}

.footer_pic {
  height: 48px;
  width: 48px;
}
