body {
  width: 1100px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

button {
  font: inherit;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px;
}

.header-menu {
  justify-self: center;
  
}

.header_menu-list {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  flex-direction: row;
  gap: 32px;
  list-style-type: circle;
}

.header_menu-item_no-bullit .header_menu-link {
  list-style: none;
}

.header-link {
  font-size: 18px;
  border-bottom: 1px solid currentColor;
}

.header-link-active {
  border-bottom: none;
}

.header-logo {
  display: block;
  width: 148px;

}

.header-logo-image {
  width: 100%;
}

.header-address {
  justify-self: end;
  font-style: normal;
  line-height: 1.35;
  max-width: 240px;
}

/*.header-address a {
  border-bottom: 1px solid currentColor;
}*/

.cover {
  position: relative;
  padding: 0;
  z-index: 0;
  background-size: cover;
  background-position: center;
  height: 757px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover_section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.cover-title {
  width: 1000px;
  height: 385px;
  position: relative;
  z-index: 2;
  color: green;
  text-align: center;
  font-family: 'Raleway', serif;
  font-weight: Bold;
  font-size: 100px;
  /*font-weight: 700;*/
  /*line-height: 1;*/
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  margin-bottom: 20px;
  color: red;
}

.aligned-text-center {
  text-align: center;
  margin-left: 60px;
  margin-bottom: 20px;
  color: yellow;
}

.aligned-text-right {
  text-align: right;
  margin-left: 120px;
  color: green;
}

.letter-spacing-extended {
  letter-spacing: 0.3em;
  color: blue;
}

.no-letter-spacing {
  letter-spacing: 0;
  color: purple;
}

.cover_description {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 78px;
  margin-top: 135px;
}

.cover_description-text {
  font-size: 22px;
  line-height: 1.27;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  padding: 12px 32px;
  border: 1px solid currentColor;
  font-family: 'Raleway', sans-serif;
  font-weight: Medium;
  font-size: 22px;
  text-transform: uppercase;
  background: transparent;
  cursor: pointer;
}

.lots {
  padding: 180px 50px;
}

.lots-heading {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 27px;
  margin-left: 40px;
}

.lots-card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 30px;
}

.lots-card-list-item {
  flex: 1 1 430px;
  min-height: 450px;
}

.card-link {
  display: block;
  height: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 50px 40px;
  color: #fff;
  background-size: cover;
  background-position: center;
}


.card-title {
  position: relative;
  z-index: 2;
  font-family: 'EB Garamond', serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: underline;
}

.card-text {
  position: relative;
  z-index: 2;
  font-size: 20px;
  line-height: 1.2;
}

.lots-look-more-link {
  margin-left: 40px;
  font-size: 20px;
  border-bottom: 1px solid currentColor;
}

.about {
  display: grid;
  grid-template-columns: 430px 1fr;
  gap: 25px;
  padding: 0 50px 180px;
}

.about-column {
  display: flex;
  flex-direction: column;
}

.about-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
  margin: 0 auto;
}

.about-logo-image {
  width: 148px;
}

.about-title {
  font-size: 40px;
  text-transform: uppercase;
  margin: 100px 0;
}

.about-text {
  font-size: 20px;
  line-height: 1.2;
}

.about-text p:first-child {
  margin-bottom: 25px;
}

.footer {
  /*display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: start;
  padding: 0 50px 90px;*/
  display: grid;
  grid-template-columns: 1fr 1fr min-content;
  align-items: center;
  padding: 92px 50px;
}

.footer-address {
  justify-self: start;
  font-style: normal;
  line-height: 1.35;
  max-width: 240px;
}

/*.footer-address a {
  border-bottom: 1px solid currentColor;
}*/

.footer-menu {
  justify-self: center;
}

.footer_menu-list {
  /*text-align: center;*/
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  flex-direction: row;
  gap: 32px;
  list-style-type: circle;
}

.footer_menu-list-item {
  margin-bottom: 5px;
}

.footer-menu-link {
  font-size: 18px;
  border-bottom: 1px solid currentColor;
}

.footer-menu-link-active {
  border-bottom: none;
}

.footer-social-list {
  display: flex;
  gap: 48px;
  justify-self: end;
}

.footer-social-list-item {
  width: 48px;
}

.footer-social-link {
  display: block;
}
