.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px;
}

.header_links-list {
    display: flex;
    gap: 32px;
}


.header_links-list-item {
    font-size: 18px;
    list-style: circle;
}

.header_links-list-item_no-bullit {
    list-style: none;
}

.header_link {
    border-bottom: 1px solid;
    text-decoration: none;
}

.header_link_go {
    border-bottom: none;
}

.header_logo {
    width: 148px;
    height: 105px;
}

.address {
    width: 240px;
    font-size: 18px;
    font-style: normal;
    line-height: 1.35;
}

.h_address {
    justify-self: end;
}

.address a {
    border-bottom: 1px solid;
    text-decoration: none;
}

.cover {
    position: relative;
    padding: 165px 50px 50px;
    background-image: url(../images/cover.jpg);
    background-position: center;
    background-size: cover;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgb(0 0 0/0.6);

}

.c_title {
    position: relative;
    z-index: 1;
    margin-bottom: 135px;
    color: white;
    font-size: 100px;
    line-height: 1.15;
    text-transform:uppercase ;
}

.line-text {
    display: block;
    margin-top: 20px;
    line-height: 1;
}

.line-text_center {
    text-align: center;
}

.line-text_right {
    text-align: right;
}

.sym-spac-extended {
    letter-spacing: 0.6em;
    margin-right: -0.3em;
}

.no-sym-spac {
    letter-spacing: initial;
}

.cover_desc {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 78px;
}

.cover_desc-text {
    color: white;
    font-size: 22px;
    text-transform: uppercase;
    word-spacing: 18px;
}

.make_stavka_but {
    border: 1px solid white;
    padding: 12px 32px;
    color: white;
    font-weight: normal;
    font-size: 22px;
    text-transform: uppercase;
    background-color: transparent;
}

.lots {
  padding: 180px 24px 120px;
}

.lots_heading {
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 27px;
  padding-left: 40px;
  text-transform: uppercase;
}

.lots_card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.lots_card-list-item {
  list-style: none;
}

.card-link {
  position: relative;
  text-decoration: none;
}

.card {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  height: 596px;
  padding: 48px 40px;
  width: 334px;
  z-index: 2;
}

.card_film-01 {
  background-image: url("/images/card-lot-01.jpg");
  display: flex;
  flex-direction: column;
  gap: 274px;
}

.card_book-02 {
  background-image: url("/images/card-lot-02.jpg");
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.card_pic-03 {
  background-image: url("/images/card-lot-03.jpg");
  display: flex;
  flex-direction: column;
  gap: 126px;
}

.card_title {
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
  text-transform: uppercase;
  z-index: 1;
}

.card_text {
  font-size: 20px;
  z-index: 1;
}

.lots_look-more-link {
  display: block;
  font-size: 20px;
  padding-left: 40px;
  padding-top: 30px;
}

.about {
    display: grid;
    grid-template-columns: 240px 1fr;
    gap: 80px;
    padding: 40px 60px 0 60px;
    align-items: start;
}

.about_column {
    padding-top: 100px;
}

.about_title {
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 100px;
    text-transform: uppercase;
    margin: 0;
}

.about_text {
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 20px;
}

.about_logo {
    background-color: #000;
    border-radius: 50%;
    height: 240px;
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about_logo-image {
    height: 114px;
    width: 148px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 92px 50px 82px 50px;
}

.footer_menu-list {
  display: flex;
  flex-direction: column;
  gap: 0;
  list-style: none;
  text-align: center;
}

.footer_menu-list-item {
  display: block;
}

.footer_menu-link {
  text-decoration: none;
  font-size: 18px;
}

.footer_menu-link_go {
  text-decoration: none;
}

.footer_social-list {
  display: flex;
  gap: 48px;
  list-style: none;
}

.footer_social-list-item {
  list-style: none;
}

.footer_social-icon {
  height: 48px;
  width: 48px;
}
